@import '_vars';

//general styling
.hidden {
    display: none;
}

//HERO SECTION
#hero {
    background: url(../images/hero-bcg.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
}

#white-logo {
    width: 10em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#hero-text {
    margin-top: 40%;
    margin-left: 5%;
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 5em;
}

#world {
    color: rgba(255, 255, 255, 0.185);
    text-decoration: line-through;
    padding-bottom: 50%;
}


//ABOUT SECTION
#about {
    background-color: black;
}

.number {
    margin-top: 0;
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $dark_green;
    font-size: 9em;
    padding-top: 20%;
    margin-left: 15%;
}

.title {
    font-family: $main_font;
    color: white;
    font-size: 0.5em;
    margin-top: 0;
    margin-left: 43%;
    font-size: 1em;
}

.deco-line-title {
    width: 4.3em;
    height: 0.3em;
    background-color: $light_green;
    margin-left: 43%;
    margin-top: 4px;
}

.section-description {
    color: white;
    font-family: $text_font;
    font-weight: 500;
    font-style: normal;
    width: 50%;
    margin-left: 43%;
    padding-bottom: 30%;
    font-size: 0.8em;
    padding-top: 14%;
}

// DEMO REEL
#video {
    max-width: 100%;
    height: auto;
}

// MY SKILLS
.number2 {
    margin-top: 0;
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $light_green;
    font-size: 9em;
    padding-top: 20%;
    margin-left: 15%;
}

.title2 {
    font-family: $main_font;
    color: $dark_green;
    font-size: 0.5em;
    margin-top: 0;
    margin-left: 43%;
    font-size: 1em;
}

.deco-line-title2 {
    width: 4.3em;
    height: 0.3em;
    background-color: $dark_green;
    margin-left: 43%;
    margin-top: 4px;
}

.section-description2 {
    color: $dark_green;
    font-family: $text_font;
    font-weight: 500;
    font-style: normal;
    width: 50%;
    margin-left: 43%;
    padding-bottom: 30%;
    font-size: 0.8em;
    padding-top: 14%;
}

// MY SKILLS - SECTIONS
.skill-title {
    color: white;
    font-family: $text_font;
    font-weight: 600;
    font-style: normal;
    background-color: $light_gray;
    width: 4em;
    height: 62px;
    font-size: 3.5em;
}

#design-logos, #code-logos, #other-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#design-logos img, #code-logos img, #other-logos img {
    width: 5em;
    padding: 1em;
}

.horizontal-logos {
    width: 8em !important;
}

//PROJECTS SECTION
#proj-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#proj-container img {
    width: 15em;
    height: auto;
    cursor: pointer;
}

#proj-container h2 {
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $dark_green;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.deco-margin {
    margin-bottom: 20%;
}

//CONTACT FORM
#contact-form {
    background-color: $light_gray;
}

#contact-title {
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $dark_green;
    font-size: 3em;
    text-align: center;
    padding: 10% 0 5% 0;
}

#contact-image {
    display: none;
}

#field, #field-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
}


#field input, #field-msg textarea {
    font-size: 1em;
    font-family: $text_font;
    font-weight: 200;
    width: 95%;
    background-color: white;
    height: 3em;
    padding: 0 0 0 10px;
}

#field-msg textarea {
    padding-top: 15px !important;
}

#field-msg textarea {
    height: 10em;
}

#submit-button {
    width: 7em;
    background-color: $dark_green;
    color: white;
    font-family: $text_font;
    font-weight: 200;
    text-align: center;
    margin-left: 5%;
    border: none;
    font-size: 1em;
    height: 2.3em;
    cursor: pointer;
    margin-bottom: 20%;
}

//FOOTER
#footer {
    background-color: $dark_green;
}

#footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
}

#footer-social-media img {
    width: 2em;
    padding: 3%;
    cursor: pointer;
}

#copyrights {
    background-color: $light_green !important;
    color: white;
    font-family: $text_font;
    font-weight: 200;
    text-align: center;
    font-size: 0.8em;
    padding: 0.6em 0;
}



