@import '_vars';

//general styling
.hidden {
    display: none;
}

//HERO SECTION
#hero {
    background-color: white;
}

#white-logo {
    width: 4em;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
}

#hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#hero-image img {
    position: relative;
    float: right;
    width: 76%;
    margin-top: -30%;
}

#hero-text {
    margin-top: 40%;
    margin-left: 5%;
    font-family: $main_font;
    font-weight: 600;
    font-style: normal;
    color: $dark_green;
    font-size: 3em;
}

#world {
    color: #adadad67;
    text-decoration: line-through;
    padding-bottom: 15%;
}


//ABOUT SECTION
#about {
    background: url(../images/blue-bcg.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
}

.number {
    margin-top: 0;
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 9em;
    padding-top: 20%;
    margin-left: 15%;
}

.title {
    font-family: $main_font;
    color: $light_green;
    font-size: 0.5em;
    margin-top: 0;
    margin-left: 43%;
    font-size: 1em;
}

.deco-line-title {
    width: 4.3em;
    height: 0.3em;
    background-color: $light_green;
    margin-left: 43%;
    margin-top: 4px;
}

.section-description {
    color: white;
    font-family: $text_font;
    font-weight: 500;
    font-style: normal;
    width: 50%;
    margin-left: 43%;
    padding-bottom: 30%;
    font-size: 0.8em;
    padding-top: 14%;
}

// DEMO REEL
#video {
    max-width: 100%;
    height: auto;
    margin-top: -10%;
}

// MY SKILLS

#my-skills {
    background: url(../images/yellow-bcg.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
}

.number2 {
    margin-top: 0;
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 9em;
    padding-top: 20%;
    margin-left: 15%;
}

.title2 {
    font-family: $main_font;
    color: $dark_green;
    font-size: 0.5em;
    margin-top: 0;
    margin-left: 43%;
    font-size: 1em;
}

.deco-line-title2 {
    width: 4.3em;
    height: 0.3em;
    background-color: $dark_green;
    margin-left: 43%;
    margin-top: 4px;
}

.section-description2 {
    color: white;
    font-family: $text_font;
    font-weight: 500;
    font-style: normal;
    width: 50%;
    margin-left: 43%;
    padding-bottom: 30%;
    font-size: 0.8em;
    padding-top: 14%;
}

// MY SKILLS - SECTIONS
.skill-title h1 {
    color: white;
    font-family: $text_font;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    padding-top: 1.55em;
    margin-left: -0.1em;
}

.skill-title {
    width: 16em;
    height: 7em;
    background-color: $dark_green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#design-logos, #code-logos, #other-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#design-logos img, #code-logos img, #other-logos img {
    width: 5em;
    padding: 1em;
}

.horizontal-logos {
    width: 8em !important;
}

//PROJECTS SECTION
#projects-title-container {
    background: url(../images/gray-bcg.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.numb3 {
    color: $dark_green !important;
}

.titl3 {
    color: white !important;
}

.line3 {
    background-color: white !important;
}

.text3 {
    color: $dark_green !important;
}

#proj-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#proj-container img {
    width: 15em;
    height: auto;
    cursor: pointer;
}

#proj-container h2 {
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $dark_green;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10%;
}


//CONTACT FORM
#contact-form {
    background-color: $light_gray;
}

#contact-title {
    font-family: $main_font;
    font-weight: 800;
    font-style: normal;
    color: $dark_green;
    font-size: 3em;
    text-align: center;
    padding: 10% 0 5% 0;
}

#contact-image {
    display: none;
}

#field, #field-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
}


#field input, #field-msg textarea {
    font-size: 1em;
    font-family: $text_font;
    font-weight: 200;
    width: 95%;
    background-color: white;
    height: 3em;
    padding: 0 0 0 10px;
    border: none;
}

#field-msg textarea {
    padding-top: 15px !important;
}

#field-msg textarea {
    height: 10em;
}

#submit-button {
    width: 7em;
    background-color: $light_green;
    color: white;
    font-family: $main_font;
    font-weight: 600;
    text-align: center;
    border: none;
    font-size: 1em;
    height: 2.3em;
    cursor: pointer;
    margin-bottom: 9%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

//FOOTER
#footer {
    background-color: $light_gray;
}

#footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
}

#footer-social-media img {
    height: 1.5em;
    padding: 0.8em;
    cursor: pointer;
    margin-top: 2em;
}

#footer-logo {
    width: 4em;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#copyrights {
    background-color: $dark_green;
    color: white;
    font-family: $text_font;
    font-weight: 200;
    text-align: right;
    font-size: 0.8em;
    padding: 0.6em 1em 0.6em 0;
}

//LIGHTBOX
.lightbox {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.884);
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
    display: none;
  }

.show-lightbox {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.close-lightbox {
    float: right;
    margin: 5%;
    font-family: $text_font;
    font-weight: 800;
    font-size: 1em;
    color: $dark_green;
    cursor: pointer;
}

.lightbox img {
    width: 60% !important;
    height: auto;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.lightbox-title {
    font-family: $main_font;
    color: $dark_green;
    font-weight: 800;
    margin-left: 5%;
    font-size: 2.5em;
}

.lightbox-roll {
    font-family: $text_font !important;
    color: $dark_green !important;
    font-weight: 100 !important;
    margin-left: 5% !important;
    font-size: 2em !important;
    text-align: left !important;
    margin-bottom: 3% !important;
}

.lightbox-description {
    font-family: $text_font;
    font-weight: 400;
    color: $dark_green;
    margin-left: 5%;
    width: 60%;
}

.icon img {
    width: 20% !important;
    float: right;
    margin-right: 15% !important;
    margin-top: -5% !important;
}


//popover
p > span { display: block; padding-bottom: 12px; }

.popover { 
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.925);
    width: 80%;
    z-index: 1;
    border-radius: 8px;
    padding: 4px;
    width: 20em;
}
  
.show-popover { display: block !important; }
  
.see-more { 
    display: block; 
    padding: 0px 5px; 
    border-radius: 8px; 
    color: white; 
    background-color: rgba(255, 255, 255, 0.459); 
    margin: 2px 3px;
    font-size: 0.6em;
    text-align: center;
}

//----------------QUERIES

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #white-logo {
        padding-top: 5%;
        width: 7em;
        margin-left: 4em;
    }

    #hero-text {
        font-size: 8em;
    }

    .number {
        font-size: 15em;
    }

    .title {
        font-size: 2em;
    }

    .section-description {
        font-size: 1.2em;
        width: 45%;
        padding-top: 10%;
    } 

    .deco-line-title {
        width: 8.4em;
    }

    .number2 {
        font-size: 15em;
    }

    .title2 {
        font-size: 2em;
    }

    .section-description2 {
        font-size: 1.2em;
        width: 45%;
        padding-top: 10%;
    } 

    .deco-line-title2 {
        width: 8.4em;
    }

    .skill-title {
        width: 4em;
        height: 97px;
        font-size: 5.5em;
    }

    #design-logos img {
        width: 6em;
    }

    .horizontal-logos {
        width: 15em !important;
    }

    #proj-container img {
        width: 30em;
    }

    #proj-container h2 {
        font-size: 2.5em;
    }

    .skill-title h1 {
        padding-top: 0.8em !important;
        margin-left: -0.1em !important;
        font-size: 0.7em;
    }

    #contact-title {
        font-size: 7em;
    }

    #field input, #field-msg textarea {
        font-size: 1.5em;
    }

    #submit-button {
        font-size: 1.3em;
    }

    #footer-social-media img {
        width: 3em;
        padding: 1em;
    }

    #copyrights {
        font-size: 1em;
    }
  }

  //media query 1024px ---DESKTOP---
@media screen and (min-width: 64em) {
    #white-logo {
        padding-top: 0; 
        width: 8em;
        margin-left: 3em;
    }

    #hero-image img {
        position: relative;
        /* float: right; */
        width: 57em;
        /* margin-top: -30%; */
        margin-top: -15%;
    }

    .title, .title2 {
        margin-left: 31%;
    }

    .deco-line-title, .deco-line-title2 {
        margin-left: 31%;
    }

    .section-description, .section-description2 {
        width: 39%;
    }

    .section-description, .section-description2 {
        font-size: 1.2em;
        width: 45%;
        padding-top: 2%;
        margin-left: 46%;
    }

    .gray-deco {
        width: 100%;
        height: 5em;
        background-color: $light_gray;
    }

    #proj-container img {
        width: 20em;
    }

    #proj-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #proj-container h2 {
        font-size: 1.7em;
    }

    .deco-margin {
        margin-left: 30%;
        margin-bottom: 40%;
    }

    //contact form - desktop

    #contact-title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    #parent-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #contact-image {
        display: block;
        width: 47%;
        height: auto;
        margin-left: -5%;
    }

    #contact-form {
        background: url(../images/contact-form-bcg.gif) center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
        height: auto;
    }


    #contact-form-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 32em;
        height: 49em;
        margin-top: 15%;
    }

    #contact-form-container form {
        margin-top: 23%;
        padding-top: 0.5em;
    }

    #field input {
        height: 2em;
    }

    #field, #field-msg {
        margin: 10% 5% 5% 5%;
    }


    #footer-social-media {
        margin-bottom: 10%;
        margin-top: 0;
    }

    #footer-logo {
        width: 7em;
        padding-bottom: 2em;
    }

    #copyrights {
        background-color: white;
        color: $dark_green;
    }

}

//media query 1300px ---LARGE DESKTOP---
@media screen and (min-width: 81.25em) {
    #hero-text {
        margin-top: 12%;
        margin-left: 8%;
    }

    .section-description {
        width: 35%;

    }

    .section-description, .section-description2 {
        margin-left: 42%;
    }

    #video {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
}



