<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">

  {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">
    <link rel="stylesheet" href="https://use.typekit.net/fdq3zps.css">

   

  <title>Dana Marin</title>
</head>
<body>
  <section id="hero">
    {{!-- Hero Section --}}
    <h1 class="hidden">Hero Section</h1>
    <div>
      <a href="#">
        <img id="white-logo" src="images/logo-dana-final-color.svg" alt="Dana Logo">
      </a>
    </div>
    <div id="hero-container">
      <div id="hero-text">
        <h1 id="hello">Hello</h1>
        <h1 id="world">World</h1>
      </div>
      {{!-- <div id="hero-image">
        <img src="images/geometric-bcg.svg" alt="Geometric Background">
      </div>
    </div> --}}
    
  </section>

  <section id="about">
    {{!-- About Section --}}
    <h1 class="hidden">About Me Section</h1>
      <h1 class="number">01</h1>
      <h3 class="title">About me</h3>
      <div class="deco-line-title"></div>
      <p class="section-description">Hi there! I'm glad you're here :&#41; <br> 
      My name is Dana, I am a passionate designer that stands in that sweet spot where design and code meet. <br> 
      When I'm not designing or coding you can find me taking pictures, trying to find the best deals online, cooking Mexican food or just petting random dogs on the street. <br> 
      Want to know more? Scroll down!
</p>
  </section>

  <section>
    {{!-- Demo Reel --}}
    <h1 class="hidden">Demo Reel Video</h1>
    <div>
      <video id="video" src="images/dana-demo-reel.mp4" controls ></video>
    </div>
  </section>

  <section>
    {{!-- My Skills --}}
    <div id="my-skills">
      <h1 class="hidden">My Skills Section</h1>
      <h1 class="number2">02</h1>
      <h3 class="title2">My Skills</h3>
      <div class="deco-line-title2"></div>
      <p class="section-description2">Hope you liked that demo reel! <br>
        In this section you will meet some of the software I enjoy working with. </p>
    </div>

    <div>
      {{!-- Skills - Design --}}
      <div class="skill-title">
        <h1>DESIGN</h1>
      </div>
      
      <div id="design-logos">
        <img src="images/logo-ae.svg" alt="AE Logo">
        <img src="images/logo-psd.svg" alt="PSD Logo">
        <img src="images/logo-id.svg" alt="ID Logo">
        <img src="images/logo-ai.svg" alt="AI Logo">
        <img src="images/logo-pr.svg" alt="PR Logo">
        <img src="images/logo-c4d.png" alt="C4D Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Code --}}
      <div class="skill-title">
        <h1>CODE</h1>
      </div>
      <div id="code-logos">
        <img src="images/logo-html.svg" alt="HTML Logo">
        <img src="images/logo-css.svg" alt="CSS Logo">
        <img src="images/logo-js.svg" alt="JS Logo">
        <img class="horizontal-logos" src="images/logo-php.svg" alt="PHP Logo">
        <img class="horizontal-logos" src="images/logo-mysql.svg" alt="MySql Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Other --}}
      <div class="skill-title">
        <h1>OTHER</h1>
      </div>
      <div id="other-logos">
        <img src="images/logo-docker.svg" alt="Docker Logo">
        <img src="images/logo-github.svg" alt="Github Logo">
        <img src="images/logo-sass.svg" alt="Sass Logo">
      </div>
    </div>
  </section>



  <section>
    {{!-- My Projects --}}
    <div id="projects-title-container">
      <h1 class="hidden">My Projects Section</h1>
      <h1 class="number numb3">03</h1>
      <h3 class="title2 titl3">Projects</h3>
      <div class="deco-line-title line3"></div>
      <p class="section-description2 text3">Here you can find some of the projects I have worked on recently. Some of them consisted of redesigning websites and others in creating them from skratch. <br>
      Ok, enough talk. Let me show you some of my work. <br>
      Ready? Scroll down!</p>
    </div>
    

    <div id="proj-container">
      {{!-- TRAA --}}
       <div class="see-more" data-target="1">
          <img id="traa" src="images/thumbnail-traa.png" alt="TRAA Project">
          <h2>TRAA</h2>
       </div>
                  

      {{!-- Couples Resort --}}
        <div class="see-more" data-target="2">
          <img id="resort" src="images/thumbnail-resort.png" alt="Couples Resort Project">
          <h2>Couples Resort</h2>
        </div>
        

      {{!-- Favourite Places --}}
        <div class="see-more" data-target="3">
          <img id="favourite" src="images/thumbnail-favourite.png" alt="Favourite Places Project">
          <h2>Favourite Places</h2>
        </div>
     

      {{!-- Specialized Mixtape --}}
        <div class="see-more" data-target="4">
          <img id="mixtape" src="images/thumbnail-mixtape.png" alt="Specialized Mixtape Project">
          <h2>Specialized Mixtape</h2>
        </div>
        

      {{!-- Thermosecurity --}}
        <div class="see-more" data-target="5">
          <img id="thermosecurity" src="images/thumbnail-thermosecurity.png" alt="Thermosecurity Project">
          <h2>Thermosecurity</h2>
        </div>
        
    </div>
  </section>

    {{!-- POPOVER --}}
      <article class="popover">
            <h3 class="close-popover">X</h3>
            <img id="mockup" src="" alt="Project Mockup">
            <h1 class="popover-title"></h1>
            <h2 class="popover-roll"></h2>
            <p class="popover-description"></p>
      </article>

  <section id="contact-form">
    {{!-- Contact Form --}}
    <h1 class="hidden">Contact Form</h1>
        <h1 id="contact-title">Say hi!</h1>
        <p id="contact-p">Already have some ideas in mind? <br> 
        I'd love to read them! <br> 
        Send me a message and I'll contact you ASAP!</p>
      <div id="contact-form-container">
        <form action="post">
          <fieldset id="field">
            <input placeholder="Your Name" type="text">
          </fieldset>

          <fieldset id="field">
            <input placeholder="Your Email" type="email">
          </fieldset>

          <fieldset id="field-msg">
            <textarea placeholder="Your Message" type="text"></textarea>
          </fieldset>

          <fieldset>
            <button id="submit-button" name="submit" type="submit">Ready!</button>
          </fieldset>
        </form>
    </div>
  </section>

  <footer id="footer">
    {{!-- Footer --}}
    <div id="footer-social-media">
      <a href="https://ca.linkedin.com/" target="_blank">
        <img src="images/icon-linkedin.svg" alt="LinkedIn Icon">
      </a>
      <a href="https://www.pinterest.ca/dmasdfghjk/" target="_blank">
        <img src="images/icon-pinterest.svg" alt="Pinterest Icon">
      </a>
      <a href="https://www.instagram.com/dana_maring/" target="_blank">
        <img src="images/icon-instagram.svg" alt="Instagram Icon">
      </a>
      <a href="https://www.facebook.com/danamaring" target="_blank">
        <img src="images/icon-facebook.svg" alt="Facebook Icon">
      </a>
    </div>

    <div>
      <a href="#">
        <img id="footer-logo" src="images/logo-dana-final-color.svg" alt="Dana Logo">
      </a>
    </div>

    <div id="copyrights">
      <h3>Copyrights © Dana Marin 2019</h3>
    </div>
  </footer>
  <script type="module" src="js/main.js"></script>
</body>
</html>
