<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">
    <link rel="stylesheet" href="https://use.typekit.net/fdq3zps.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon-logo.png"/>

  <title>Dana Marin</title>
</head>
<body>
  <section id="hero">
    {{!-- Hero Section --}}
    <h1 class="hidden">Hero Section</h1>
    <div>
      <img id="white-logo" src="images/logo-dana-final-color.svg" alt="Dana Logo">
    </div>
    <div id="hero-image">
      <img src="images/geometric-bcg.svg" alt="Geometric Background">
    </div>
    <div id="hero-text">
      <h1 id="hello">Hello</h1>
      <h1 id="world">World</h1>
    </div>
  </section>

  <section id="about">
    {{!-- About Section --}}
    <h1 class="hidden">About Me Section</h1>
      <h1 class="number">01</h1>
      <h3 class="title">About me</h3>
      <div class="deco-line-title"></div>
      <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
        ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>
  </section>

  <section>
    {{!-- Demo Reel --}}
    <h1 class="hidden">Demo Reel Video</h1>
    <div>
      <video id="video" src="images/dana-demo-reel.mp4" controls ></video>
    </div>
  </section>

  <section>
    {{!-- My Skills --}}
    <div id="my-skills">
      <h1 class="hidden">My Skills Section</h1>
      <h1 class="number2">02</h1>
      <h3 class="title2">My Skills</h3>
      <div class="deco-line-title2"></div>
      <p class="section-description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
          ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>
    </div>

    <div>
      {{!-- Skills - Design --}}
      <div class="skill-title">
        <h1>DESIGN</h1>
      </div>
      
      <div id="design-logos">
        <img src="images/logo-ae.png" alt="AE Logo">
        <img src="images/logo-psd.png" alt="PSD Logo">
        <img src="images/logo-id.png" alt="ID Logo">
        <img src="images/logo-ai.png" alt="AI Logo">
        <img src="images/logo-c4d.png" alt="C4D Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Code --}}
      <div class="skill-title">
        <h1>CODE</h1>
      </div>
      <div id="code-logos">
        <img src="images/logo-html.png" alt="HTML Logo">
        <img src="images/logo-css.png" alt="CSS Logo">
        <img src="images/logo-js.png" alt="JS Logo">
        <img class="horizontal-logos" src="images/logo-php.png" alt="PHP Logo">
        <img class="horizontal-logos" src="images/logo-mysql.png" alt="MySql Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Other --}}
      <div class="skill-title">
        <h1>OTHER</h1>
      </div>
      <div id="other-logos">
        <img src="images/logo-docker.png" alt="Docker Logo">
        <img src="images/logo-github.png" alt="Github Logo">
        <img src="images/logo-sass.svg" alt="Sass Logo">
      </div>
    </div>
  </section>



  <section>
    {{!-- My Projects --}}
    <div id="projects-title-container">
      <h1 class="hidden">My Projects Section</h1>
      <h1 class="number numb3">03</h1>
      <h3 class="title2 titl3">Projects</h3>
      <div class="deco-line-title line3"></div>
      <p class="section-description2 text3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
          ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>
    </div>
    

    <div id="proj-container">
      {{!-- TRAA --}}
       <div>
          <img id="traa" data-target="1" class="see-more" src="images/thumbnail-traa.png" alt="TRAA Project">
          <h2>TRAA</h2>
       </div>

       <div class="lightbox-traa lightbox">
         <h3 class="close-lightbox close-lightbox-TRAA">X</h3>
         <img src="images/mockup-traa.png" alt="TRAA Website Mockup">
         <h1 class="lightbox-title">Thames River Anglers Association</h1>
         <h2 class="lightbox-roll">Roll: Web designer and front-end developer</h2>
         <p class="lightbox-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati veniam eos corporis aliquam quis tempora rerum provident nobis? Nam suscipit 
           et nulla voluptate possimus distinctio doloribus, accusantium aut saepe corrupti.</p>
          <div class="icon">
            <img src="images/icon-logo-green.png" alt="Icon Dana">
          </div>
          
       </div>
        

      {{!-- Couples Resort --}}
        <div>
          <img id="resort" data-target="2" class="see-more" src="images/thumbnail-resort.png" alt="Couples Resort Project">
          <h2>Couples Resort</h2>
        </div>

        <div class="lightbox-resort lightbox">
         <h3 class="close-lightbox close-lightbox-resort">X</h3>
         <img src="images/mockup-resort.png" alt="Couples Resort Website Mockup">
         <h1 class="lightbox-title">Thames River Anglers Association</h1>
         <h2 class="lightbox-roll">Roll: Web designer and front-end developer</h2>
         <p class="lightbox-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati veniam eos corporis aliquam quis tempora rerum provident nobis? Nam suscipit 
           et nulla voluptate possimus distinctio doloribus, accusantium aut saepe corrupti.</p>
          <div class="icon">
            <img src="images/icon-logo-green.png" alt="Icon Dana">
          </div>
          
       </div>
        

      {{!-- Favourite Places --}}
        <div>
          <img id="favourite" data-target="3" class="see-more" src="images/thumbnail-favourite.png" alt="Favourite Places Project">
          <h2>Favourite Places</h2>
        </div>
        
        <div class="lightbox-favourite lightbox">
         <h3 class="close-lightbox close-lightbox-favourite">X</h3>
         <img src="images/mockup-favourite.png" alt="Favourite Places Website Mockup">
         <h1 class="lightbox-title">Thames River Anglers Association</h1>
         <h2 class="lightbox-roll">Roll: Web designer and front-end developer</h2>
         <p class="lightbox-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati veniam eos corporis aliquam quis tempora rerum provident nobis? Nam suscipit 
           et nulla voluptate possimus distinctio doloribus, accusantium aut saepe corrupti.</p>
          <div class="icon">
            <img src="images/icon-logo-green.png" alt="Icon Dana">
          </div>
          
       </div>
        
     

      {{!-- Specialized Mixtape --}}
        <div>
          <img id="mixtape" data-target="4" class="see-more" src="images/thumbnail-mixtape.png" alt="Specialized Mixtape Project">
          <h2>Specialized Mixtape</h2>
        </div>

        <div class="lightbox-mixtape lightbox">
         <h3 class="close-lightbox close-lightbox-mixtape">X</h3>
         <img src="images/mockup-mixtape.png" alt="Specialized Mixtape Mockup">
         <h1 class="lightbox-title">Thames River Anglers Association</h1>
         <h2 class="lightbox-roll">Roll: Web designer and front-end developer</h2>
         <p class="lightbox-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati veniam eos corporis aliquam quis tempora rerum provident nobis? Nam suscipit 
           et nulla voluptate possimus distinctio doloribus, accusantium aut saepe corrupti.</p>
          <div class="icon"> 
            <img src="images/icon-logo-green.png" alt="Icon Dana">
          </div>
          
       </div>
        
        

      {{!-- Thermosecurity --}}
        <div>
          <img id="thermosecurity" data-target="5" class="see-more" src="images/thumbnail-thermosecurity.png" alt="Thermosecurity Project">
          <h2>Thermosecurity</h2>
        </div>

        <div class="lightbox-thermosecurity lightbox">
         <h3 class="close-lightbox close-lightbox-thermosecurity">X</h3>
         <img src="images/mockup-thermosecurity.png" alt="Thermosecurity Website Mockup">
         <h1 class="lightbox-title">Thames River Anglers Association</h1>
         <h2 class="lightbox-roll">Roll: Web designer and front-end developer</h2>
         <p class="lightbox-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati veniam eos corporis aliquam quis tempora rerum provident nobis? Nam suscipit 
           et nulla voluptate possimus distinctio doloribus, accusantium aut saepe corrupti.</p>
          <div class="icon">
            <img src="images/icon-logo-green.png" alt="Icon Dana">
          </div>
          
       </div>
        
        {{!-- DONTKNOWWHATIMDOINGAREA --}}
  <article class="show-lightbox lightbox1">
        <h1 class="lightbox-title">title:</h1>
         <h2 class="lightbox-roll">roll:</h2>
         <p class="lightbox-description">description:</p>
  </article>
        
    </div>
  </section>

  <section id="contact-form">
    {{!-- Contact Form --}}
    <h1 class="hidden">Contact Form</h1>
        <h1 id="contact-title">Say hi!</h1>
      <div id="contact-form-container">
        <form action="post">
          <fieldset id="field">
            <input placeholder="Your Name" type="text">
          </fieldset>

          <fieldset id="field">
            <input placeholder="Your Email" type="email">
          </fieldset>

          <fieldset id="field-msg">
            <textarea placeholder="Your Message" type="text"></textarea>
          </fieldset>

          <fieldset>
            <button id="submit-button" name="submit" type="submit">Ready!</button>
          </fieldset>
        </form>
    </div>
  </section>

  <footer id="footer">
    {{!-- Footer --}}
    <div id="footer-social-media">
      <a href="https://ca.linkedin.com/" target="_blank">
        <img src="images/icon-linkedin.svg" alt="LinkedIn Icon">
      </a>
      <a href="https://www.pinterest.ca/dmasdfghjk/" target="_blank">
        <img src="images/icon-pinterest.svg" alt="Pinterest Icon">
      </a>
      <a href="https://www.instagram.com/dana_maring/" target="_blank">
        <img src="images/icon-instagram.svg" alt="Instagram Icon">
      </a>
      <a href="https://www.facebook.com/danamaring" target="_blank">
        <img src="images/icon-facebook.svg" alt="Facebook Icon">
      </a>
    </div>

    <div>
      <img id="footer-logo" src="images/logo-dana-final-color.svg" alt="Dana Logo">
    </div>

    <div id="copyrights">
      <h3>Copyrights © Dana Marin 2019</h3>
    </div>
  </footer>
  <script type="module" src="js/main.js"></script>
</body>
</html>
