<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon-logo.png"/>

  <title>Dana Marin</title>
</head>
<body>
  
  <script type="module" src="js/main.js"></script>
</body>
</html>
