<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon-logo.png"/>

  <title>Dana Marin</title>
</head>
<body>
  <section>
    {{!-- Hero Section --}}
    <h1 class="hidden">Hero Section</h1>
    <div>
      <img src="images/logo-white.png" alt="Dana Logo">
    </div>
    <div>
      <h1>Hello</h1>
      <h1>World</h1>
    </div>
  </section>

  <section>
    {{!-- About Section --}}
    <h1 class="hidden">About Me Section</h1>
      <h1>01</h1>
      <h3>About me</h3>
      <div></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
        ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>
  </section>

  <section>
    {{!-- Demo Reel --}}
    <h1 class="hidden">Demo Reel Video</h1>
    <div></div>
  </section>

  <section>
    {{!-- My Skills --}}
    <h1 class="hidden">My Skills Section</h1>
    <h1>02</h1>
    <h3>My Skills</h3>
    <div></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
        ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>

    <div>
      {{!-- Skills - Design --}}
      <div></div>
      <h1>DESIGN</h1>
      <div>
        <img src="images/logo-ae.png" alt="AE Logo">
        <img src="images/logo-psd.png" alt="PSD Logo">
        <img src="images/logo-id.png" alt="ID Logo">
        <img src="images/logo-ai.png" alt="AI Logo">
        <img src="images/logo-c4d.png" alt="C4D Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Code --}}
      <div></div>
      <h1>CODE</h1>
      <div>
        <img src="images/logo-html.png" alt="HTML Logo">
        <img src="images/logo-css.png" alt="CSS Logo">
        <img src="images/logo-js.png" alt="JS Logo">
        <img src="images/logo-php.png" alt="PHP Logo">
        <img src="images/logo-mysql.png" alt="MySql Logo">
      </div>
    </div>

    <div>
      {{!-- Skills - Other --}}
      <div></div>
      <h1>OTHER</h1>
      <div>
        <img src="images/logo-docker.png" alt="Docker Logo">
        <img src="images/logo-github.png" alt="Github Logo">
        <img src="images/logo-sass.svg" alt="Sass Logo">
      </div>
    </div>
  </section>

  <section>
    {{!-- My Projects --}}
    <h1 class="hidden">My Projects Section</h1>
    <h1>03</h1>
    <h3>Projects</h3>
    <div></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, corporis, sapiente eveniet voluptatum provident nisi quos 
        ducimus unde alias suscipit nemo perspiciatis veniam quo tempora dolores error dolorem explicabo reprehenderit.</p>

    <div>
      {{!-- TRAA --}}
      <div> 
        <img src="images/thumbnail-traa.png" alt="TRAA Project">
        <h2>TRAA</h2>
        <div></div>
      </div>

      {{!-- Couples Resort --}}
      <div> 
        <img src="images/thumbnail-resort.png" alt="Couples Resort Project">
        <h2>Couples Resort</h2>
        <div></div>
      </div>

      {{!-- Favourite Places --}}
      <div> 
        <img src="images/thumbnail-favourite.png" alt="Favourite Places Project">
        <h2>Favourite Places</h2>
        <div></div>
      </div>

      {{!-- Specialized Mixtape --}}
      <div> 
        <img src="images/thumbnail-mixtape.png" alt="Specialized Mixtape Project">
        <h2>Specialized Mixtape</h2>
        <div></div>
      </div>

      {{!-- Thermosecurity --}}
      <div> 
        <img src="images/thumbnail-thermosecurity.png" alt="Thermosecurity Project">
        <h2>Thermosecurity</h2>
        <div></div>
      </div>
    </div>
  </section>

  <section>
    {{!-- Contact Form --}}
    <h1 class="hidden">Contact Form</h1>
    <div>
      <div>
        <h1>Say hi!</h1>
        <img src="images/contact-image.jpg" alt="Phone hanging">
      </div>
      <div>
        <form action="post">
          <fieldset>
            <input placeholder="Your Name" type="text">
          </fieldset>

          <fieldset>
            <input placeholder="Your Email" type="email">
          </fieldset>

          <fieldset>
            <textarea placeholder="Your Message" type="text">
          </fieldset>

          <fieldset>
            <button name="submit" type="submit">Ready!</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

  <footer>
    {{!-- Footer --}}
    <div>
      <img src="images/logo-white.png" alt="Dana Logo">
    </div>

    <div>
      <img src="images/icon-linkedin.svg" alt="LinkedIn Icon">
      <img src="images/icon-pinterest.svg" alt="Pinterest Icon">
      <img src="images/icon-instagram.svg" alt="Instagram Icon">
      <img src="images/icon-facebook.svg" alt="Facebook Icon">
    </div>

    <div>
      <h3>Copyrights © Dana Marin 2019</h3>
    </div>
  </footer>
  <script type="module" src="js/main.js"></script>
</body>
</html>
